DB_HOST=db
DB_USER=root
DB_PASSWORD=password
DB_NAME=pingfindb
DB_PORT=3306

TEAM_NAME=Bank KBC
TEAM_BIC=BARCBEBB
TEAM_MEMBERS=Olusegun Sunmola,Team member 2,Team member 3,Team member 4

APP_CONTAINER_NAME=bankkbc_app
DB_CONTAINER_NAME=bankkbc_db
APP_PORT=8082

OTHER_BANK_BIC=DEGRBEBB
OTHER_BANK_NAME=Bank DEGR
CB_API_BASE_URL=https://stevenop.be/pingfin/api/v2
